* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.massage-target {
  position: fixed;
  left: 50%;
  bottom: 20px;
  z-index: 1000;
  padding: 10px 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 6px;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 3s opacity;
  -o-transition: 3s opacity;
  transition: 3s opacity;
}

.massage-target p {
  white-space: nowrap;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
}

.massage-target svg {
  cursor: pointer;
  position: absolute;
  right: 5px;
  top: 5px;
  width: 15px;
  height: 15px;
}

.massage-target svg path {
  fill: white;
}

.success {
  background: #56bb90;
  -webkit-animation: targetSuccess 0.2s 1;
          animation: targetSuccess 0.2s 1;
}

.error {
  background: #ff7575;
  -webkit-animation: targetError 0.17s 2;
          animation: targetError 0.17s 2;
}

@-webkit-keyframes targetSuccess {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }

  50% {
    -webkit-transform: translateX(-50%) scale(1.1);
            transform: translateX(-50%) scale(1.1);
  }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}

@keyframes targetSuccess {
  0% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }

  50% {
    -webkit-transform: translateX(-50%) scale(1.1);
            transform: translateX(-50%) scale(1.1);
  }

  100% {
    -webkit-transform: translateX(-50%) scale(1);
            transform: translateX(-50%) scale(1);
  }
}

@-webkit-keyframes targetError {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  20% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }

  80% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }

  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes targetError {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }

  20% {
    -webkit-transform: translateX(-60%);
            transform: translateX(-60%);
  }

  80% {
    -webkit-transform: translateX(-40%);
            transform: translateX(-40%);
  }

  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

#date {
  display: none;
}

body {
  background-color: #f9fafb;
}

.admin__wrapper {
  padding: 10px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.admin__content {
  padding: 7px;
  border-bottom: 1px solid black;
}

.admin .accordion {
  display: block;
}

.admin .accordion .accordion__item {
  border-bottom: 1px solid #C4C4C4;
}

.admin .accordion .accordion__item.accordion__item-active .accordion__item-content {
  display: block;
}

.admin .accordion .accordion__item.accordion__item-active .line2 {
  -webkit-transform: translate(0) !important;
      -ms-transform: translate(0) !important;
          transform: translate(0) !important;
  -webkit-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.admin .accordion .accordion__item.accordion__item-active .line1 {
  opacity: 0;
  -webkit-transition: 0.1s all ease;
  -o-transition: 0.1s all ease;
  transition: 0.1s all ease;
}

.admin .accordion .accordion__item .accordion__item-trigger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.admin .accordion .accordion__item .accordion__item-trigger .trigger__num {
  margin-right: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.035em;
  color: #444444;
}

.admin .accordion .accordion__item .accordion__item-trigger .trigger__text {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.035em;
  color: #000000;
  margin-left: 10px;
}

.admin .accordion .accordion__item .accordion__item-trigger .trigger__img {
  position: relative;
  margin-left: auto;
}

.admin .accordion .accordion__item .accordion__item-trigger .trigger__img .line1 {
  display: block;
  width: 18px;
  height: 2px;
  background: black;
  border-radius: 100px;
}

.admin .accordion .accordion__item .accordion__item-trigger .trigger__img .line2 {
  display: block;
  width: 18px;
  height: 2px;
  background: black;
  margin-top: -2px;
  border-radius: 100px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}

.admin .accordion .accordion__item .accordion__item-content {
  padding-bottom: 20px;
  display: none;
  -webkit-animation: fade 0.3s ease;
          animation: fade 0.3s ease;
}

.admin .accordion .accordion__item .accordion__item-content .content__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
}

.admin .accordion .accordion__item .accordion__item-content .content__text .content__text-info {
  padding: 7px 0;
}

.admin .accordion .accordion__item .accordion__item-content .content__text .content__text-info span:first-child {
  font-weight: 500;
}

.admin .accordion .accordion__item .accordion__item-content .content__text .delete {
  max-width: 100px;
  display: block;
  font-size: 16px;
  margin-top: 25px;
  padding: 5px;
  color: white;
  border-radius: 5px;
  background-color: #c64747;
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
}

.admin .accordion .accordion__item .accordion__item-content .content__text .delete:hover {
  opacity: 0.8;
}

.admin .accordion .accordion__item .accordion__item-content .content__text:first-child {
  margin-top: 0;
}

header h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  color: #162629;
  padding: 20px 0 10px 0;
}

@media (max-width: 1449.98px) {
  .container {
    max-width: 1240px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 970px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: 740px;
  }
}

@media (max-width: 479.98px) {
  .container {
    max-width: none;
  }
}